@use "../standard";

.project-card {
  border: none !important;
  border-radius: 0% !important;
  border-bottom: 2px dotted standard.$border-color !important;

  img {
    border-radius: 0%;
    border: 1px solid black;
  }

  a {
    text-decoration: none;
  }

  .card-button {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: standard.$header-font;
    box-sizing: border-box;
    transition: background-color .25s, color .25s, border .25s, box-shadow .25s;
  }

  .card-button:hover {
    color: white;
    border: 1px solid white;
    background-color: black;

  }

  .card-button:active {
    box-shadow: 0 0 10px 5px #d1d3d4;
  }

  p {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  p::-webkit-scrollbar {
    display: none;
  }

  h5 {
    font-family: standard.$header-font;
    font-weight: bold;
  }
}
