@use "../standard";

.title {
  font-family: standard.$header-font;
  font-weight: bold;

}

.bar {
  width: 100%;
  height: 35px;
  position: relative;
  transition: width 1s ease;
}

.bar-1,
.my-skills {
  width: 100%;
}

.bar-inner {
  height: 30px;
  line-height: 35px;
  border: 2px solid black;
  background: #f12711;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 2s linear;
  width: 0%;
}

.expand {
  width: 100%;
}

.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
  font-family: standard.$header-font;
  font-weight: bold;
  color: black;
}
