@use "../standard";

.home {

    margin-top: 70px;
    scroll-margin-top: standard.$scroll-margin-length;

    .headshot {
        border-radius: 100%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        width: 50%;
        max-width: 275px;
        border: 1px solid black;
        transition: -webkit-filter .5s, filter .5s;
        display: block;
    }
    .header {
        color: #000;
        background-color: #FFF;
        border: 1px solid black;
        text-align: center;
        padding: 5% 5% 5% 5%;
    }
}

#home {
    max-width: 1040px;
}