@use "standard";

.footer {
    height: 5vh;
    width: 100%;
    border-top: 2px solid black;

    img {
        filter: invert(1);
        transition: filter .25s, box-shadow .25s;
        border: 1px solid white;
        border-radius: 100%;
    }

    img:hover {
        filter: invert(0);
    }

    img:active {
        box-shadow: 0 0 10px 5px #d1d3d4;
    }
    
    .e-mail {
        a {
            opacity:50%;
            color: #000;
        }
        a:hover {
            opacity: 100%;
        }
    }

}