@use "standard";

.navigation {
    font-weight: bold;
    font-size: larger;
    border-bottom: 2px solid black;
    background-color: white;
    font-family: standard.$header-font;
    width: 1024px;

    .nav-item {
        --bs-nav-link-color: black;
        --bs-nav-link-hover-color: black;
        opacity: 50%;
        transition: opacity .25s, text-shadow .25s;
    }
    
    .nav-item:hover {
        opacity: 100% !important;
    }
    
    .nav-item:active {
        text-shadow: 0px 0px 40px #2e2e2e !important;
    }

    button {
        border-radius: 0%;
        border: 1px solid black;
    }

    #logo {
        width: 15%;
        margin-left: 5%;
    }

}


#navigation {
    @media (max-width: 1024px) {
        width: 100vw;
      }
}